<ng-container *ngIf="!!showBox"><div class="poco-ai-style">
  <img src="assets/images/cross.svg" class="cross" style="cursor: pointer;" (click)="close(false)">
    <iframe
    id="poco-ai"
    width="350"
    height="700"
    class="poco-ai-style"
    autoplay="true"
    src="https://console.dialogflow.com/api-client/demo/embedded/5b953d76-bbbc-4bd7-82fa-c58b5b97aae7">
</iframe>
</div>
</ng-container>
<div *ngIf="!showBox" style="position: fixed; right: 5px; bottom: 5px; cursor: pointer;">
  <img src="assets/images/Chat bot.gif" height="200px" width="200px" (click)="close(true)">
</div>
